###14. Transform Addresses Data
1. create one record for customer with 2 sets of address columns, 1 for shipping,1 for billing
2. write transformed data to silver schema

###1. Create one record for customer with 2 sets of address columns, 1 for shipping, 1 for billing

In [0]:
%sql
SELECT * FROM shoppix.bronze.v_addresses

In [0]:
%sql
SELECT *
FROM (SELECT customer_id,
             address_type,
             address_line_1,
             city,
             state,
             postcode
        FROM shoppix.bronze.v_addresses)
PIVOT(MAX(address_line_1) AS address_line_1,
      MAX(city) AS city,
      MAX(state) AS state,
      MAX(postcode) AS postcode
      FOR address_type IN ('shipping', 'billing')


);

###2. Write transformed data to silver schema

In [0]:
%sql
CREATE TABLE shoppix.silver.addresses
AS
SELECT *
FROM (SELECT customer_id,
             address_type,
             address_line_1,
             city,
             state,
             postcode
        FROM shoppix.bronze.v_addresses)
PIVOT(MAX(address_line_1) AS address_line_1,
      MAX(city) AS city,
      MAX(state) AS state,
      MAX(postcode) AS postcode
      FOR address_type IN ('shipping', 'billing')
  );