###Create or Replace & CTAs
1. Difference between create or replace and drop & create table statements
2. CTAs Statements

###1.Difference between create or replace and drop & create table statements

Behavior of Drop and Create statements

In [0]:
%sql
DROP TABLE IF EXISTS demo.delta_lake.companies;

CREATE TABLE demo.delta_lake.companies
(
  company_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
  company_name STRING NOT NULL,
  founded_date DATE NOT NULL,
  country STRING NOT NULL
);

INSERT INTO demo.delta_lake.companies (company_name, founded_date, country) VALUES
('Microsoft', '1975-04-04', 'USA'),
('Google', '1998-09-04', 'USA'),
('Amazon', '1994-05-15', 'USA'),
('Alibaba', '1999-07-01', 'China'),
('Tencent', '1998-12-17', 'China');

In [0]:
%sql
DESC HISTORY demo.delta_lake.companies;

Behavior of Create or Replace statements

In [0]:
%sql
DROP TABLE IF EXISTS demo.delta_lake.companies;

CREATE OR REPLACE TABLE demo.delta_lake.companies
(company_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
  company_name STRING NOT NULL,
  founded_date DATE NOT NULL,
  country STRING NOT NULL
);

INSERT INTO demo.delta_lake.companies
(company_name,founded_date,country)
VALUES
('APPLE','1976-04-01','USA'),
('GOOGLE','1998-09-04','USA'),
('AMAZON', '1994-05-15', 'USA'),
('ALIBABA', '1999-07-01', 'China');

In [0]:
%sql
DESC HISTORY demo.delta_lake.companies;

###2. CTAs statements

In [0]:
%sql
CREATE TABLE demo.delta_lake.companies_china
AS
SELECT * FROM demo.delta_lake.companies WHERE country = 'China';

In [0]:
%sql
SELECT * FROM demo.delta_lake.companies_china;

In [0]:
%sql
DESC HISTORY demo.delta_lake.companies_china;

In [0]:
%sql
ALTER TABLE demo.delta_lake.companies_china
  ALTER COLUMN founded_date COMMENT 'the day company was founded';

In [0]:
%sql
ALTER TABLE demo.delta_lake.companies_china
  ALTER COLUMN company_id SET NOT NULL